@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:hsl(212, 45%, 89%);
}
.card{
    background-color: hsl(0, 0%, 100%);
    margin: 100px 500px;
    height: 450px;
    width: 285px;
    /* border: 1px solid black; */
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
img{
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    margin-left: 11.5px;
    width: 260px;
    height: 260px;
    /* padding: 15px 12px; */
    /* border: 2px solid rgb(233, 35, 35); */
    border-radius: 15px;
}
.container{
    display: block;
    align-items: center;
    
    /* border: 2px solid black; */
    /* margin-top:5px ; */
    padding: 10px 20px ;
}
h3{ 
    /* border: 1px solid black; */
    font-family: "Outfit", sans-serif;  
    height: 50px;
    width: 210px;
    margin-top: 5px;
    
    font-size: 18px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0px 20px;
    text-align: center;
}
p{ 
     /* border: 1px solid red; */
    padding: 5px 0px;
    height: 70px;
    width: 250px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    display: flex;
    align-items:center;
    text-align: center;
}

/* media queries */
@media screen and (max-width: 375px){
    .card{
        margin: 80px 35px;
        height: 450px;
        width: 285px;
    }
}